html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  font-size: 100px;
  width: 100%;
  height: 100%;
}

body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  min-width: 1200px;
  height: 100%;
  min-height: 768px;
  background-color: #f4f7f9;
  font-size: 0.16rem;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  color: #333;
  letter-spacing: 1px;
  line-height: 1.5;
  user-select: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

img {
  width: auto;
  max-width: 100%;
  -ms-interpolation-mode: bicubic; /*为了照顾ie图片缩放失真*/
  border: 0;
  transition: all .6s;
}

a, button, input, optgroup, select, textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*去掉a、input和button点击时的蓝色外边框和灰色半透明背景*/
}

a, img {
  -webkit-touch-callout: none; /*禁止长按链接与图片弹出菜单*/
}

input, button, textarea {
  outline: none;
  resize: none;
  border: none;
  background-color: transparent;
}

em, i {
  font-style: normal;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  word-wrap: break-word; /* 不够的单词自动换行 而不会被截掉 */
}

.clearfix:after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}

.clearfix {
  zoom: 1;
}

a:link, a:active, a:visited, a:hover {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #333;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.one-txt-cut {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.txt-cut {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* -webkit-line-clamp: 2; */
  -webkit-box-orient: vertical;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.db {
  display: block !important;
}
.dib{
  display: inline-block;
}

.after {
  text-align: justify;
}

.after:after {
  content: '';
  width: 100%;
  display: inline-block;
  overflow: hidden;
  height: 0;
}
.fz0{font-size: 0;}
.clear {
  clear: both;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.fz18{
  font-size: 0.18rem;
}
.fz14{
  font-size: 0.14rem;
}
.tac {
  text-align: center;
}

.botder-bottom {
  border-bottom: 1px solid transparent !important;
}

.formControl {
  background-image: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.formControl:focus {
  border-color: #c9c9c9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 75, 161, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 75, 161, 0.6);
  transition: all .5s;
}
.overflow{
  overflow: hidden;
}
.w1200, .w62 {
  height: auto;
  margin: 0 auto;
}

.w62 {
  width: 62.5%;
}
.w75 {
  width: 75%;
}
.w1200 {
  width: 1200px;
}
.colorF04343{
  color:#F04343;
}

.colorff961e{
  color:#FF961E;
}

.color00C652{
  color:#00C652;
}
#app{
  width: 100%;
  height: 100%;
}


::-webkit-scrollbar{
  display:none;
}



.nav-logo{
  width: 1.8rem;
}
.nav-logo:hover {
  -webkit-animation-name: hvr-wobble-bottom;
  animation-name: hvr-wobble-bottom;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s
}

@-webkit-keyframes hvr-wobble-bottom {
  16.65% {
    -webkit-transform: skew(-10deg);
    transform: skew(-10deg)
  }
  33.3% {
    -webkit-transform: skew(8deg);
    transform: skew(8deg)
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg)
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg)
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg)
  }
  to {
    -webkit-transform: skew(0deg);
    transform: skew(0deg)
  }
}

@keyframes hvr-wobble-bottom {
  16.65% {
    -webkit-transform: skew(-10deg);
    transform: skew(-10deg)
  }
  33.3% {
    -webkit-transform: skew(8deg);
    transform: skew(8deg)
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg)
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg)
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg)
  }
  to {
    -webkit-transform: skew(0deg);
    transform: skew(0deg)
  }
}
.websiteTitle{
  margin-bottom: .1rem;
}
.websiteTitle h2{
  height: 100%;
  font-weight: normal;
  font-size: .14rem;
  color: #D2D2D2;
  display: flex;
  align-items: center;
}
.websiteTitle h2 i{
  margin-right: .06rem;
  font-size: 0;
}
.websiteTitle a{
  position: relative;
  border-radius: .15rem;
  border: 1px solid #E0E0E0;
  font-size: .14rem;
  color: #999;
  padding: 2px 12px;
}
.websiteTitle a i{
  font-size: .12rem;
}
 .checkedAgreed .el-checkbox__input.is-checked+.el-checkbox__label{
  color: #FF5D24;
}
.checkedAgreed .el-checkbox__input.is-checked .el-checkbox__inner,
.checkedAgreed .el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #FF5D24;
  border-color: #FF5D24;
}
.el-input.is-active .el-input__inner, .el-input__inner:focus{
  border-color: #FF5D24;
}